<div class="container" *ngIf="item">
    <div class="row my-5">
        <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
            <figure>
                <img src="{{item.image}}" class="img-fluid about_img" alt="about images">
            </figure>
        </div>

        <div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center 
        align-items-start flex-column">
            <h1>{{item.title}}</h1>
            <hr class="w-100 "/>
            <div class="d-flex flex-row w-100">
                <p class="card-text "><small class="text-muted">Price: {{item.price}}</small></p>
                <select class="form-select form-select-sm w-50 mx-auto" aria-label=".form-select-sm example">
                    <option selected>Select Size</option>
                    <option value="1">34</option>
                    <option value="2">38</option>
                    <option value="3">24</option>
                  </select>
            </div>
            
            <hr class="w-100 "/>
            <p>{{item.description}}</p>
                <button type="button" class="btn btn-outline-info" (click)="addtoCart(item)">Add To Cart</button>
            </div>
    </div>
</div>

<section class=" my-5">
    <div class="text-center">
        <h1 class="display-4">Reviews</h1>
        <hr class="w-25 mx-auto"/>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-2 col-md-3 review">
                <img src="https://picsum.photos/200" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4">
              <h2>John Doe</h2>
              <p>auguest 14,2018</p>
            </div>
            <div class="col-lg-6 col-md-5">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quia recusandae amet officiis optio iure aperiam, ipsa inventore quisquam? Nostrum aspernatur dolores, sed totam expedita illo impedit eligendi facilis hic?
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-2 col-md-3 review">
                <img src="https://picsum.photos/200" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-4">
              <h2>John Doe</h2>
              <p>auguest 14,2018</p>
            </div>
            <div class="col-lg-6 col-md-5">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quia recusandae amet officiis optio iure aperiam, ipsa inventore quisquam? Nostrum aspernatur dolores, sed totam expedita illo impedit eligendi facilis hic?
            </div>
        </div>
    </div>
    </section>